*{
box-sizing:0;
margin:0;
}
#nav_logo{
  
width:150px;
height:150px;
margin-left:230px;
margin-right:50px;
}
.nav {
height:150px;
width:100%;
display:flex;
justify-items: center;
place-items:center;
text-align: center;
box-shadow: 2px 2px 15px 10px rgba(0, 0, 0, 0.8);
background-color: black;
font-family: 'Luckiest Guy', cursive;
font-family: 'Phudu', cursive;
font-family: 'Titan One', cursive;
}

#link_nav {
  margin: 35px;
  cursor: pointer;
  text-decoration: none;
  font-size: 30px;
  color: #C0C0C0;
  position: relative; 
}

#link_nav::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 3px;
  background-color: white;
  transition: width 0.15s ease-in-out, left 0.15s ease-in-out;
}

#link_nav:hover::before {
  width: 100%;
  left: 0;
  animation: disperse 0.15s ease-in-out; 
  border-radius: 10% 13%;
}

@keyframes disperse {
  0% {
    width: 0;
    left: 50%;
  }
  100% {
    width: 100%;
    left: 0;
  }
}   
#theme_changer:hover, #theme_changer_2:hover{
color:white;
transition:ease 0.3s;
}


#theme_changer{
margin-left:120px;
color:#474747;
font-size:48px;
transition:ease 0.3s;
cursor:pointer;

}
#theme_changer_2{
  margin-left:120px;
  color:#bbbbbb;
  display:none;
  font-size:48px;
  transition:ease 0.3s;
  cursor:pointer;
  transform:rotate(180deg);
  }

#text_preorder_1{
  color:#0f0f0f;
  font-weight:900;
  font-size:37px;
  position:absolute;
  top:22rem;
  left:4.75rem;
  font-family: 'Luckiest Guy', cursive;
  font-family: 'Phudu', cursive;
  font-family: 'Titan One', cursive;
}
#text_preorder_2{
  color: #575757;
  position:absolute;
  top:25rem;
  left:10rem;
  font-size:23px;
  font-family: 'Luckiest Guy', cursive;
  font-family: 'Phudu', cursive;
  font-family: 'Titan One', cursive;
}
#preorder_photo {
  top:18rem;
  left:70rem;
  width:30rem;
  height:30rem;
  position:absolute;
  border-radius:2%;
  box-shadow: 0px 0px 10px 2px rgba(255, 136, 0, 0.8);
}
#preorder_button{
  border:none;
  background-color:black;
  color:#be967e;
  transition:ease 0.6s;
  cursor:pointer;
  margin: 0 auto;
  font-weight: 600;
  padding:15px;
  text-align: center;
  font-family: 'Luckiest Guy', cursive;
  font-family: 'Phudu', cursive;
  font-family: 'Titan One', cursive;
  font-size:30px;
  width:30rem;
  position:absolute;
  top:40rem;
  left:12rem;
}
#preorder_button:hover{
  
  color:#754815;
  transition:ease 0.6s;
  transform:scale(0.979999);
}
section{
  color: #2e2e2e;
  position:absolute;
  top:34rem;
  left:12rem;
  font-size:20px;
  font-weight:900;
  font-family: 'Titan One', cursive;
}

#preorder_info_2{
  font-size:23px;
position:absolute;
left:19rem;
margin-top:-8rem;
}
#preorder_info_1{
  font-size:23px;
  margin-top:-5rem;

}
#o_nas_tytul{ 
text-align: center;
margin-left:40px;
Font-size:40px;
font-family: 'Luckiest Guy', cursive;
font-family: 'Phudu', cursive;
font-family: 'Titan One', cursive;
font-weight: 900;
border-bottom:4px solid;
max-width:130px;
}
article{
  left:36rem;
  font-family: 'Phudu', cursive;
  position:absolute;
  top:115%;
  font-size:20px;
  width:40%;
  height:60%;

}
footer{
  width:100%;
  height:200px;
  font-size:20px;
  color:#C0C0C0;
  margin-top:103rem;
  text-align: center;
  background-color:#000000;
  box-shadow: 2px 2px 15px 10px rgba(0, 0, 0, 0.8) ;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#footer_link{
  color:#C0C0C0;
  cursor:pointer;
  margin:15px;

}
#footer_link:hover,#contact:hover{
color:#969696;
}
#footer_dziekuje{
  font-size:30px;
  margin-top:5px;
  font-family: 'Luckiest Guy', cursive;
  font-family: 'Phudu', cursive;
  font-family: 'Titan One', cursive;
}
  #contact{
    font-size:35px;
    color:#C0C0C0;
    text-decoration:underline;
padding:5px;
  }