*{
  font-family: 'Oswald', sans-serif;

}

nav{
width:100%;                                                                                 
height:150px;
box-shadow: 2px 2px 15px 10px rgba(0, 0, 0, 0.8);
background-color: black !important;
z-index:7;
}
#link_nav {
  font-weight: 900;
  margin: 50px;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 35px;
  color: #C0C0C0;
  transition: ease 0.2s;
}
#brand-img{
  margin-left:150px;
  margin-right:150px;
}
#link_nav:hover {
  transition: ease 0.2s; 
  color: #4578BD;
}
footer{
  margin-left:auto;
  margin-right:auto;
  width:100%;
  height:250px;
  font-size:20px;
  color:#C0C0C0;
  text-align: center;
  background-color:#000000;
  box-shadow: 2px 2px 15px 10px rgba(0, 0, 0, 0.8) ;
  }
  center a{
    transition: ease 0.2s;
    color:#838383;
  } 
  center a:hover{
    transition: ease 0.2s;
    color: #4578BD;
  }
  center{
    color:#838383;
    margin-top:-10px;
    font-size:26px;
  }
  .icons a{
    color:#c0c0c0;
    text-decoration:none ;

  }
  .icons i{
    transition: ease 0.2s;
    font-size:55px;
    margin:30px;
  }
  .icons i:hover{
    transition: ease 0.2s;
    color: #4578BD;
  }
  #linia_1{
    position:absolute;
    bottom:-14.6rem;
    transform:rotate(245deg);
    height:59rem;
    z-index:-7;
    left:-55em;
  }
  #linia_2{
    position:absolute;
    top:-6rem;
    width:60rem;
    height:50rem;
    z-index:-20;
    right:2rem;
    
  }
  article{
    height:30%;
    font-size:20px;
    text-align: left;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:100px;
    
  }
  .title_article{
    font-weight: 900;
    margin-left:50px;
    font-size:35px;
    font-weight: 900;
    border-bottom:3px solid;
    width:120px;
    text-align: center;
    margin-top:100px;
  }
  #container_preorder{
    width:1200px;
    height:35em;
    margin-left:auto;
    margin-right:auto;
    margin-top:150px;
    text-align: center;
  }
  .title_preorder{
    margin-top:70px;
    font-size:43px;
  }
  .preorder_img{
    width:30rem;
    height:30rem;
    border-radius:2%;
    float:right;
  } 
  .product-info p {
    width:350px;
    display: flex;
    justify-content: space-between;
    font-size:25px;
    margin-top:10px;
    margin-left:175px;
    
  }
  .product-info{
    margin-top:30px;
    
  }
  #button{
    border:none;
    background-color:black;
    color:#b4b4b4;
    transition:ease 0.6s;
    cursor:pointer;
    font-weight: 600;
    width:10em;
  font-size:45px;
  margin-top:1.1rem;
  border-radius:5.5%/50%;
}
#button:hover{
  color:#4578BD;
  transition:ease 0.6s;
  transform:scale(0.979999);
}
  
section {
  width: 100%;
  height: 500px;
  background-color: black;
  color: white;
  margin-bottom: 30px;
  text-align:center;
}

section strong {

  font-size: 50px;
}
.container-tworcy{
 display:flex;
  height:370px;
  width:100%;
  display: flex;
  justify-content: center; 
  align-items: center;
}
.box {
  width: 250px;
  height: 350px;
  margin: 50px;
  transition: ease 0.2s;
  background-color: #c0c0c0;
}
.box-img{ 
  height:160px;
  width:160px;
  padding:20px;
  border-radius:5%; 
}
.partners-container{

  margin:100px 0 100px  0;
  text-align:center;
  width:100%;
}
.partners-container strong {
  font-size:55px;

}
.article-partners{
justify-content: center;
text-align: left;
width:70%;
margin-left:auto;
margin-right:auto;
font-size:22px;
}

  @media only screen and (max-width: 767px) {
    section{
      height:auto;
     
    }
    .box{
      margin:10px;
    }
    .container-tworcy{
        height:auto;
       display: flex;
       flex-direction: column;
       justify-content: center; 
       align-items: center;
     }
    .article-partners{
      width:100%;
    }
    #container_preorder{
    margin-top:100px;
    }
    footer {
    height:300px;   
    box-shadow:none;
  }
  #brand-img{
    margin-left:0px;
    margin-right:0px;
    height:140px;
  }
  article{
    margin-bottom:15px;
    justify-content: center;
  }
  section strong {
    font-size: 35px;

  }
  .preorder_img{
    width:20rem;
    height:20rem;
  }
  #button{
    font-size:40px;
    margin-top:50px;
    width:auto;
  }
  nav{
    box-shadow:none;
  }
  hr{
    margin-top:0px;
    margin-bottom:50px;
  }

    #linia_2 ,#linia_1{
    display:none;
    } 
    .title_preorder{
      font-weight: 900;
      font-size:27px;
      margin-top:20px;
    }
    #footer_link{
      margin:4px;
    }
    .title_article{
      margin-left:10px;
      font-size:35px;
      font-weight: 900;
      border-bottom:3.5px solid;
      width:110px;
    }
    .footer-visitWeb{
      font-weight:900;
      font-size:25px;
    }

    .product-info p {
      width:250px;
      display: flex;
      justify-content: space-between;
      font-size:20px;
      margin-top:10px;
      margin-left:60px;
      font-weight:400;
    }
    .product-info{
      margin-top:40px;
      
    }
    center{
      margin-top:30px;
      font-size:23px;
    }
    .icons a{
      color:#c0c0c0;
      text-decoration:none ;
  
    }
    .icons i{
      transition: ease 0.2s;
      font-size:55px;
      margin:15px;
    }
    .icons i:hover{
      transition: ease 0.2s;
      color: #4578BD;
    }
  }