
*{
    font-family: 'Oswald', sans-serif;
  }
  body{
    background-color:#e8e8e8;
  }
  label{
    font-size:larger;
    color:#193d6e;
    margin:5px;
  }
  
  input {
    color:rgb(0, 0, 0);
    font-size:17px;
    width: 100%;
    padding: 10px 15px;
    margin: 8px 0;
    border:1px solid #000000;
    background-color:#ffffff;
    border-radius:30em;
    box-sizing: border-box;
  }
  input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
  .title{
    margin:220px;
    Font-size:40px;
    color:#193d6e;
  }
  form{
    background-color:white;
    font-weight: bolder;
    width:100%;
    margin-top:6em;
    margin-left:200px;
    padding:30px;
    height:38em;
    border-radius:1em;
    box-shadow :0px 0px 15px 5px white;

  }
  input[type=Submit],input[type=Reset]{
    font-size:25px;
    font-weight:20px;
    width: 49%;
    background-color: #242424;
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius:30em;
    cursor: pointer;
    transition:ease 0.2s;
  }
  input[type=Submit]:hover,input[type=Reset]:hover{
    transition:ease 0.2s;
    transform:scale(0.95);
    color:#39587D
  }
  
  input[type=email] {
  text-transform: lowercase;
  }
  input[type=email]:invalid {
    border:2px solid rgb(255, 0, 0);
  }
  nav{
    width:100%;                                                                                 
    height:150px;
    box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.8);
    background-color: black !important;
    z-index:7;
    }
    #link_nav {
      font-weight: 900;
      margin: 50px;
      text-align: center;
      cursor: pointer;
      text-decoration: none;
      font-size: 35px;
      color: #C0C0C0;
      transition: ease 0.2s;
    }
    #brand-img{
      margin-left:130px;
      margin-right:150px;
    }
    #link_nav:hover {
      transition: ease 0.2s; 
      color: #4578BD;
    }
    footer{
      margin-left:auto;
      margin-right:auto;
      width:100%;
      height:250px;
      font-size:20px;
      color:#C0C0C0;
      text-align: center;
      margin-top:150px;
      background-color:#000000;
      box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.8);
      }
      .icons{
        display:flex;
        justify-content: center;
        align-items: center;
      }
      .footer-link{
        justify-content: center;
        border-radius:5em;
        height:78px;
        width:78px;
        background-color:black;
        margin:0px 30px 30px 30px;
        text-decoration:none;
        color:white;
        transition: ease 0.3s;
      }
      center a{
        transition: ease 0.2s;
        color:#838383;
      } 
      center a:hover{
        transition: ease 0.2s;
        color: #4578BD;
      }
      center{
        color:#838383;
        margin-top:-10px;
        font-size:26px;
      }
      .icons i{
        width:78px;height:78px;
        text-decoration:none;
        color:#838383;
        margin-top:10px;
        transition: ease 0.2s;
        font-size:55px;
      
    }
    .icons i:hover{
        color:#ffffff;
        transition: ease 0.2s;
    }
    .footer-link:hover{
        box-shadow:0px 0px 30px 8px #4578BD;
        background-color:#4578BD;
        color:white;
        transition: ease 0.3s;
    }
    .container-infomation{
  margin-left:24%;
  margin-top:120px;
border:1px solid;
border-radius: 2em;
width:25%;
font-size:19px;
height:10%;
padding:30px;

}
#title_information{


text-transform: uppercase;
  font-size:28px;
  margin-left:5px;
  font-weight:900;
}
article hr{
    width:80%;
    background-color:black;
    margin-left:auto;
    margin-right:auto;
  
    }

.logo-information{
  margin-top:2px;
  background-color:black;
  color:white;
  float:right;
  width:30px;
  text-align: center;
  border-radius:3em;
}
.article-center{
  color:black;
  font-size:20px;
}
  @media only screen and (max-width: 600px){

    .title{
      margin-left:0px;
      color:#193d6e;
    }
    form{
    margin-top:50px;
    margin-left:0px;
    background-color:white;
    border:1px solid #193d6e;
    }
    label{
      font-size:larger;
      color:#4578BD;
    }
    article{
      margin:0px;
      margin-top:200px;
      font-size:20px;
    
    }
    article hr{
      width:70%;
      display:flex;
    }
    #footer_link{
      margin:5px;
    }
    .return_form{
      display:flex;
      font-size:35px;
      text-decoration: none;
      color:white;
      margin-left:70px;
    }

    .row hr{
      margin-top:100px;
      width:300px;
      margin-left:auto;
      margin-right:auto;
      display:flex;
    }
    
    .footer-link{
      justify-content: center;
      border-radius:5em;
      height:78px;
      width:78px;
      background-color:black;
      margin:0px 5px 5px 5px;
      text-decoration:none;
      color:white;
      transition: ease 0.3s;
    }
    center a{
      transition: ease 0.2s;
      color:#838383;
    } 
    center a:hover{
      transition: ease 0.2s;
      color: #4578BD;
    }
    center{
      color:#838383;
      margin-top:-10px;
      font-size:26px;
    }
    .icons i{
      width:78px;height:78px;
      text-decoration:none;
      color:#838383;
      margin-top:10px;
      transition: ease 0.2s;
      font-size:55px;
    
    }
    .icons i:hover{
      color:#ffffff;
      transition: ease 0.2s;
    }
    .footer-link:hover{
      box-shadow:0px 0px 15px 4px #4578BD;
      background-color:#4578BD;
      color:white;
      transition: ease 0.3s;
    }
    #brand-img{
      margin-left:0px;
      margin-right:0px;
      height:140px;
    }
  }