
*{
    font-family: 'Oswald', sans-serif;

  }
  label{
    font-size:larger;
    color:#4578BD;
    margin:5px;
  }
  
  input {
    color:white;
    font-size:15px;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border:1.5px solid #000000;
    background-color:#474747;
    border-radius: 4px;
    box-sizing: border-box;
  }
  .return_form{
    display:none;
  }
  textarea{
    color:white;
    background-color:#474747;
    max-width:100%;
    min-width:100%;
    min-height:45px;
    max-height:45px;
    font-size:15px;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border:1.5px solid #000000;
    border-radius: 4px;
    box-sizing: border-box;
  
  }
  .title{
    margin:230px;
    Font-size:40px;
    color:#193d6e;
  }
  form{
    border-radius:10%;
    font-weight: bolder;
    width:100%;
    margin-top:1.1rem;
    margin-left:200px;
    border:2px solid #193d6e;
    padding:30px;
    height:38em;

    
  }
  input[type=Submit],input[type=Reset]{
    font-size:25px;
    font-weight:20px;
    width: 49%;
    background-color: #242424;
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition:ease 0.2s;
  }
  input[type=Submit]:hover,input[type=Reset]:hover{
    transition:ease 0.2s;
    transform:scale(0.95);
    color:#39587D
  }
  
  input[type=email] {
  text-transform: lowercase;
  }
  input[type=email]:invalid {
    border: 2px solid rgb(170, 0, 0);
  }
    footer{
      
      box-shadow: 1px 2px 15px 5px rgba(0, 0, 0, 0.8);
      font-size:20px;
      color:#C0C0C0;
      width:100%;
      height:135px;
      margin-top:20px;
      background-color:#000000;
      text-align: center;
    }
    #footer_link{
      color:#C0C0C0;
      cursor:pointer;
      margin:20px;
    
    }
    #footer_link:hover,#contact:hover{
    color:#747474;
    }
    article{
      margin-left:400px;
      margin-top:200px;
      height:30%;
      font-size:25px;
      margin-bottom:30px;

    }
    #hr_article{
    width:30%;
    margin-left:auto;
    margin-right:auto;
    }
nav{
  width:100%;                                                                                 
  height:150px;
  box-shadow: 2px 2px 15px 10px rgba(0, 0, 0, 0.8);
  background-color: black !important;
  z-index:7;
  }
  #title_information{
    margin-top:70px;
    margin-left:30px;
    border-bottom:2px solid;
    width:170px;
    font-size:xx-large;
    text-align: center;
    font-weight:900;
  }
  
  article hr{
    width:60%;
    margin:auto;
    display:flex;
  }
  nav img{
    min-height:120px;
    min-width:120px;
    margin:130px;
  }
  #link_nav {
    font-weight: 900;
    margin: 50px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 35px;
    color: #C0C0C0;
    transition: ease 0.2s;
  }

  #return{ 
    font-size:300px;
    text-decoration:none;
    color:#C0C0C0;
  }
  #link_nav:hover {
    transition: ease 0.2s;
    color: #4578BD;
    border-bottom: 2px solid #C0C0C0; /* Добавлено слово "solid" для задания стиля рамки */
    border-radius: 5% / 10%;
  }
  .footer-visitWeb{
    font-weight:900;
    font-size:20px;
    color: #4578BD;
  }

  @media only screen and (max-width: 600px){
    #return_from{ 
      display:none;
    }
    footer{
      font-size:larger;
      margin-top:30px;
      height:200px;
      
    }
    nav img {
      margin:0px;
    }
    .title{
      margin-left:0px;
      color:#193d6e;
    }
    form{
    margin-top:50px;
    margin-left:0px;
    background-color:white;
    border:1px solid #193d6e;
    }
    label{
      font-size:larger;
      color:#4578BD;
    }
    article{
      margin:0px;
      margin-top:200px;
      font-size:20px;
    
    }
    article hr{
      width:70%;
      display:flex;
    }
    #footer_link{
      margin:5px;
    }
    .return_form{
      display:flex;
      font-size:35px;
      text-decoration: none;
      color:white;
      margin-left:70px;
    }

    .row hr{
      margin-top:100px;
      width:300px;
      margin-left:auto;
      margin-right:auto;
      display:flex;
    }
  }